<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// Kahoot remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <GameDialog @game-dlg-click="handleGameDlgClick" :show="showDlg" :isCorrect="isCorrect" ></GameDialog>
   <div class="main-container">
      <div class="question-container">
         <div class="question-text" @click="toggleShow">
            {{q['q']}}
         </div>
      </div>
      <div class="d-flex flex-wrap">
         <!-- deprecated by using ref :: ref="answerDiv" -->
         <div v-for="(item, idx) in q['a']" 
            @animationend="animeEnd"
            :class="cssAnswerContainer(idx)"
            class="answer-container ">

            <span class="answer-symbol">
               <i class="bi " :class="cssAnswerSymbol(idx)"></i>
            </span>
            <span class="answer-caption">{{item}}</span>
            <span class="answer-tick" role="button" @click="answerClick(item, idx)">
               <i class="bi " :class="cssAnswerCheck(item, idx)"></i>
            </span>
         </div>
      </div>
   </div>
</template>

<script>
import GameDialog from './GameDialog.vue';

export default {
   components: {
      GameDialog,
   },
   props: [ 'q', ],
   emits: ['question-done'],
   data() {
      return {
         // the picked answer
         pickedAnswer: '',
         pickedIdx: -1,
         showDlg: false,
         isCorrect: "false",

         // flag controlling when to "shake" the answer containers
         shake: true,
      };
   },
   watch: {
      q(newQ, oldQ) {
         // introduce another shake... since it is another question~
         this.shake = true;
      },
   },
   methods: {
      cssAnswerContainer: function(idx) {
         let c = {};
         switch (idx) {
            case 0:
               c['bg-danger']=true;
               break;
            case 1:
               c['bg-info']=true;
               break;
            case 2:
               c['bg-warning']=true;
               break;
            case 3:
               c['bg-success']=true;
               break;
         }
         if (this.shake==true) {
            c['answer-container-shake'] = true;
         } else {
            c['answer-container-shake'] = false;
         }
         return c;
      },
      cssAnswerSymbol: function(idx) {
         let c = {};
         switch (idx) {
            case 0:
               c['bi-suit-club-fill'] = true;
               break;
            case 1:
               c['bi-suit-diamond-fill'] = true;
               break;
            case 2:
               c['bi-suit-heart-fill'] = true;
               break;
            case 3:
               c['bi-suit-spade-fill'] = true;
               break;
         }
         return c;
      },
      cssAnswerCheck: function(item, idx) {
         let c = {
            "bi-circle": true,
         };
         if (this.pickedAnswer == this.q['c'] && idx == this.pickedIdx) {
            c['bi-circle'] = false;
            c['bi-check-circle-fill'] = true;
         }
         return c;
      },
      answerClick: function(item, idx) {
         this.pickedAnswer = item;
         this.pickedIdx = idx;
         // evaluation
         if (this.pickedAnswer == this.q['c']) {
            this.isCorrect = "true";
         } else {
            this.isCorrect = "false";
         }
         this.showDlg = true;
      },
      handleGameDlgClick: function() {
         this.showDlg = false;
         this.$emit('question-done', {isCorrect: this.isCorrect});
      },
      animeEnd: function() {
         /* 
         // [deprecated] direct access of html element
         const divs = this.$refs['answerDiv']; 
         divs.forEach(element => {
            element.classList.remove('answer-container-shake');
            // [debug]
            //console.log(element.classList);
         });
         */
         this.shake = false;
      },
   },
}
</script>

<style scoped>
.main-container {
   margin-top: 2px;
}
.question-container {
   border-left: 1px solid #aaa;
   border-right: 1px solid #aaa;
   height: 250px;
   vertical-align: middle;
   text-align: center;
   margin-bottom: 2px;
}
.question-text {
   line-height: 250px;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}
.answer-container {
   width: 298px;
   height: 150px;
   line-height: 150px;
   margin: 1px;
   border: 1px solid;
   border-radius: 6px;
   color: white;
}
.answer-symbol {
   font-size: 24px;
   padding-left: 20px;
   padding-right: 12px;
}
.answer-caption {
   font-size: 24px;
}
.answer-tick {
   float: right;
   line-height: 150px;
   padding-right: 20px;
   font-size: 28px;
}
.answer-container-shake {
   animation: shake 0.4s;
}
@keyframes shake {
   0% { transform: translate(1px, 1px) rotate(0deg); }
   10% { transform: translate(-1px, -2px) rotate(-1deg); }
   20% { transform: translate(-3px, 0px) rotate(1deg); }
   30% { transform: translate(3px, 2px) rotate(0deg); }
   40% { transform: translate(1px, -1px) rotate(1deg); }
   50% { transform: translate(-1px, 2px) rotate(-1deg); }
   60% { transform: translate(-3px, 1px) rotate(0deg); }
   70% { transform: translate(3px, 1px) rotate(-1deg); }
   80% { transform: translate(-1px, -1px) rotate(1deg); }
   90% { transform: translate(1px, 2px) rotate(0deg); }
   100% { transform: translate(1px, -2px) rotate(-1deg); }
}

</style>