<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// Kahoot remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="backdrop" :class="cssBackdrop()">
      <div class="main-container">
         <div class="response-container">
            <span v-if="'true' == isCorrect">
               your answer is <span class="response-important text-success">CORRECT~</span>
            </span>
            <span v-if="'false' == isCorrect">
               sorry... more luck next time
            </span>
            <span v-if="'end' == isCorrect">
               Game DONE~
            </span>
         </div>
         <div class="caption-container" role="button">
            <button class="btn btn-mute caption-btn" @click="clickEvent">continue...</button>
         </div>
      </div>
   </div>
</template>

<script>
export default {
   emits: [ 'game-dlg-click' ],
   props: {
      // display the backdrop or not 
      show: Boolean,
      // is it a "correct" answer scenario?
      isCorrect: String,
   },
   methods: {
      cssBackdrop: function() {
         // [debug]
         /* console.log(`show? ${this.show}`);
         console.log(`isCorrect? ${this.isCorrect}`); */
         if (this.show == true) {
            return { 'show': true, 'hide': false, 'backdrop-show': true, };
         } else {
            return { 'hide': true, 'show': false, 'backdrop-show': false, };
         }
      },
      clickEvent: function() {
         this.$emit('game-dlg-click');
      },

   },
}
</script>

<style scoped>
.backdrop {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.4);
   /* none is required all the dialogue would be shown no matter what */
   display: none; 
}
.backdrop-show {
   z-index: 1000;
}
.show {
   display: block;
}
.hide {
   display: none;
}
.main-container {
   z-index: 1000;
   margin: auto;
   width: 500px;
   height: 300px;
   margin-top: 200px;
   background: rgb(240, 236, 236);
   border-radius: 12px;
   padding-top: 12px;
   padding-bottom: 12px;
}
.response-container {
   height: 200px;
   line-height: 200px;
   text-align: center;
   font-size: 24px;
}
.response-important {
   font-size: 40px;
}
.caption-container {
   height: 100px;
   line-height: 100px;
   float: right;
}
.caption-btn {
   font-size: 24px;
}

</style>