<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// Kahoot remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <GameDialog @game-dlg-click="handleGameDlgClick" :show="showDlg" isCorrect="end" ></GameDialog>
   <div class="main-container">
      <div class="title-container">
         this is a <span class="title-caption" :class="cssGameType()">{{qSet.t}}</span> game challenge
      </div>

      <!-- text challenge -->
      <GameText v-if="isTextChallenge==true" 
         :q="qList[qIndex]"
         @question-done="handleQuestionDone"></GameText>
      <!-- photo challenge -->
      <GamePhoto v-if="isTextChallenge==false"
         :q="qList[qIndex]"
         @question-done="handleQuestionDone"></GamePhoto>

   </div>
</template>

<script>
import GameText from './GameText.vue';
import GameDialog from './GameDialog.vue';
import GamePhoto from './GamePhoto.vue';

export default {
   components: {
      GameText,
      GameDialog,
      GamePhoto,
   },
   data() {
      return {
         qSet: {},
         // the question index starts with 0
         qIndex: 0,
         qList: [],

         showDlg: false,
         correctHits: 0,
      };
   },
   computed: {
      isTextChallenge: function() {
         return "text" == this.qSet.t;
      },
   },
   mounted() {
      // randomly picked a question from the set
      const size = this.$store.state.questionSet.length;
      let i = Math.floor(Math.random() * size);
      this.qSet = this.$store.state.questionSet[i];
      this.qList = this.qSet['q'];
   },
   methods: {
      cssGameType: function() {
         let c = {
            red: true,
            green: false,
         };
         if ('text' == this.qSet.t) {
            c['red'] = false;
            c['green'] = true;
         }
         return c;
      },
      handleQuestionDone: function(payload) {
         // update the correct-hits
         if (payload && 'true' == payload['isCorrect']) {
            this.correctHits++;
         }
         if (this.qIndex+1 >= this.qList.length) {
            // all questions done
            this.showDlg = true;
         } else {
            this.qIndex++;
         }
      },
      handleGameDlgClick: function() {
         // update state store on the correct-hits
         this.$store.commit('updateResults', this.correctHits);
         this.$store.commit('setCurrentCorrectHits', this.correctHits);
         this.correctHits = 0;
         // [debug]
         //console.log(this.$store.state.results);

         // TODO: should fwd to the game-result page instead...
         this.$router.push({ name: 'End', });
      },

   },
}
</script>

<style scoped>
.main-container {
   width: 600px;
   height: 800px;
   margin: auto;
   padding-top: 4px;
}
.title-container {
   background: rgb(245, 242, 242);
   border: 1px solid #aaa;
   line-height: 2em;
   padding-left: 12px;
   padding-right: 12px;
   text-align: center;
   box-shadow: 1px 1px #aaa;
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
}
.title-caption {
   font-weight: 600;
   text-transform: uppercase;
}
.green {
   color: rgb(4, 94, 4);
}
.red {
   color: #f00;
}
</style>