<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// Kahoot remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="main-container">
      <div class="img-container">
         <img src="./../assets/end-01.jpg" class="main-img">
         <div class="img-home-container">
            <button class="btn btn-success btn-lg btn-block" @click="homeBtnClick">Home</button>
         </div>
      </div>
      
      <div class="caption-container">
         You have answered <span class='caption-result text-danger'>{{$store.state.currentCorrectHits}}</span> correctly~
      </div>
      
   </div>
</template>

<script>
export default {
   methods: {
      homeBtnClick: function() {
         this.$router.push({ name: 'Home', });
      },
   },
}
</script>

<style scoped>
.main-contaner {
   max-width: 1024px;
   min-width: 800px;
   height: 800px;
}
.img-container {
   max-width: 1024px;
   min-width: 800px;
   margin: auto;
   padding-top: 100px;
}
.img-home-container {
   text-align: center;
   padding-top: 20px;
}
.main-img {
   object-fit: contain;
   opacity: 0.65;
   max-width: 1024px;
   min-width: 800px;
   border-radius: 12px;
   border: 1px solid white;
}
.caption-container {
   position: absolute;
   top: 400px;
   width: 100%;
   text-align: center;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   font-weight: 800;
}
.caption-result {
   font-size: 40px;
}
</style>