   <!--
   // GNU Affero General Public License V.3.0 or AGPL-3.0
   //
   // Kahoot remake vite + vue3
   // Copyright (C) 2021,2022 - quoeamaster@gmail.com
   //
   // This program is free software: you can redistribute it and/or modify
   // it under the terms of the GNU Affero General Public License as published by
   // the Free Software Foundation, either version 3 of the License, or
   // (at your option) any later version.
   //
   // This program is distributed in the hope that it will be useful,
   // but WITHOUT ANY WARRANTY; without even the implied warranty of
   // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   // GNU Affero General Public License for more details.
   //
   // You should have received a copy of the GNU Affero General Public License
   // along with this program.  If not, see <http://www.gnu.org/licenses/>.
   -->
   <template>
   <div>
      <div class="main-title">
         <img src="./../assets/title_caption_transparent.png" class="main-title-img" >
      </div>

      <div class="btn-container">
         <div class="d-flex justify-content-center">
            <titlebtn title="START" @title-btn-click="handleTitleBtnClick"></titlebtn>
            <span class="btn-spacer"></span>
            <titlebtn title="RESULTS" @title-btn-click="handleTitleBtnClick"></titlebtn>
         </div>
      </div>

      <img src="./../assets/title-01.jpg" class="main-title-bg-foto foto-01" >
      <img src="./../assets/title-02.jpg" class="main-title-bg-foto foto-02" >
      <img src="./../assets/title-03.jpg" class="main-title-bg-foto foto-03" >
      

   </div>
</template>

<script>
import titlebtn from './TitleButton.vue';
import q1 from './question_sets.json';

export default {
   components: {
      titlebtn,
   }, 
   // [ref] https://vuejs.org/guide/essentials/lifecycle.html#registering-lifecycle-hooks
   // the mounted hook can be used to run code after the component has finished the initial rendering and created the DOM nodes
   mounted() {
      // try to preload the question_sets.json file to store
      this.loadQuestionSets();
   },
   methods: {
      // load the question sets into vuex store
      loadQuestionSets: async function() {
         
         if (q1) {
            this.$store.commit('setQuestionSet', q1);
            // [debug] 
            //console.log(this.$store.state.questionSet);
         }
         /* // for vite... json are directly imported... no need to "fetch"
         const res = await fetch('/src/assets/question_sets.json');
         const q = await res.json();
         if (q) {
            this.$store.commit('setQuestionSet', q);
         }
         */
      },

      handleTitleBtnClick: function(payload) {
         if ("START" == payload) {
            this.$router.push({ name: 'Game' });
         } else if ("RESULTS" == payload) {
            this.$router.push({ name: 'Results' });
         }
      },
   },
}
</script>

<style scoped>
   .main-title {
      position: absolute;
      top: 120px;
      width: 100%;
      text-align: center;
      z-index: 10;
   }
   .main-title > img {
      width: 600px;
      transition: 0.2s;
   }
   .main-title>img:hover {
      width: 650px;
      transition: 0.5s;
   }

   .btn-container {
      position: absolute;
      top: 360px;
      width: 100%;
      z-index: 10;
      text-align: center;
   }
   .btn-spacer {
      width: 200px;
   }
   
   .main-title-bg-foto {
      width: 400px;
      opacity: 0.5;
   }
   .foto-01 {
      position: absolute;
      right: -10px;
      transform: rotate(20deg);
   }
   .foto-01:hover {
      transform: rotate(15deg);
   }
   .foto-02 {
      position: absolute;
      right: 260px;
      bottom: 60px;
      transform: rotate(35deg);
   }
   .foto-02:hover {
      transform: rotate(15deg);
   }
   .foto-03 {
      position: absolute;
      left: 120px;
      bottom: 240px;
      transform: rotate(-25deg);
   }
   .foto-03:hover {
      transform: rotate(5deg);
   }

</style>