   <!--
   // GNU Affero General Public License V.3.0 or AGPL-3.0
   //
   // Kahoot remake vite + vue3
   // Copyright (C) 2021,2022 - quoeamaster@gmail.com
   //
   // This program is free software: you can redistribute it and/or modify
   // it under the terms of the GNU Affero General Public License as published by
   // the Free Software Foundation, either version 3 of the License, or
   // (at your option) any later version.
   //
   // This program is distributed in the hope that it will be useful,
   // but WITHOUT ANY WARRANTY; without even the implied warranty of
   // MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   // GNU Affero General Public License for more details.
   //
   // You should have received a copy of the GNU Affero General Public License
   // along with this program.  If not, see <http://www.gnu.org/licenses/>.
   -->
   
   <template>
   <div class="main-container">
      <div class="caption">
         Tally results of how many questions answered correctly per game ~
      </div>
      <Bar :chart-data="chartData" 
         :chart-options="chartOptions"
         :width="500"
         :height="500"
      ></Bar>
      
      <div class="img-home-container">
         <button class="btn btn-success btn-lg btn-block" @click="homeBtnClick">Home</button>
      </div>
   </div>
</template>

<script>
import { Bar } from 'vue-chartjs'
import { Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale } from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
   components: {
      Bar,
   },
   data() {
      const data = this.prepareChartData();
      return {
         // the chartData for bar-chart rendering
         chartData: {
            labels: data['labels'],
            datasets: [ 
               { 
                  label: 'tally on game answers',
                  data: data['data'],
                  borderWidth: 1,
                  backgroundColor: [
                     'rgba(255, 99, 132, 0.2)',
                     'rgba(255, 159, 64, 0.2)',
                     'rgba(255, 205, 86, 0.2)',
                     'rgba(75, 192, 192, 0.2)',
                     'rgba(54, 162, 235, 0.2)',
                     'rgba(153, 102, 255, 0.2)',
                     'rgba(201, 203, 207, 0.2)'
                  ],
                  borderColor: [
                     'rgb(255, 99, 132)',
                     'rgb(255, 159, 64)',
                     'rgb(255, 205, 86)',
                     'rgb(75, 192, 192)',
                     'rgb(54, 162, 235)',
                     'rgb(153, 102, 255)',
                     'rgb(201, 203, 207)'
                  ],
               }, 
            ],
         },
         chartOptions: {
            responsive: true,   
         }
      };
   },
   methods: {
      // prepare the data for chart rendering... 
      // in case a subset of the data is to be returned, required some sorting and filtering etc
      prepareChartData: function() {
         const results = this.$store.state.results;
         let values = [];

         Object.keys(results).forEach(function(key) {
            values.push(results[key]);
         });
         return {
            labels: Object.keys(results),
            data: values,
         };
      },
      homeBtnClick: function() {
         this.$router.push({ name: 'Home', });
      },
   },

}
</script>

<style scoped>
.main-container {
   width: 760px;
   margin: auto;
}
.caption {
   text-align: center;
   padding-top: 20px;
   padding-bottom: 12px;
   font-size: 22px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 600;
}
.img-home-container {
   text-align: center;
   padding-top: 20px;
}
</style>