<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// Kahoot remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="main-container">
      <img src="./../assets/title_caption_transparent.png" width="800">
      <div class="main-msg">
         sorry~ the URL you are requesting is not available
      </div>
      <div class="main-btn">
         <button class="btn btn-primary btn-lg" @click="homeClick">Home</button>
      </div>
      
   </div>
</template>

<script>
export default {
   methods: {
      homeClick: function() {
         this.$router.push({ path: '/' });
      },
   },
}
</script>

<style scoped>
.main-container {
   width: 800px;
   margin: auto;
   text-align: center;

   padding-top: 60px;
}
.main-msg {
   padding-top: 20px;
   font-size: 30px;
   font-family: Arial, Helvetica, sans-serif;
}
.main-btn {
   padding-top: 40px;
}
</style>