<!--
// GNU Affero General Public License V.3.0 or AGPL-3.0
//
// Kahoot remake vite + vue3
// Copyright (C) 2021,2022 - quoeamaster@gmail.com
//
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<template>
   <div class="title-btn bg-info" role="button" @click="raiseClickEvent">
      <span class="title-btn-lbl">{{title}}</span>
   </div>
</template>

<script>
export default {
   props: [ "title" ],
   methods: {
      raiseClickEvent: function() {
         this.$emit('title-btn-click', this.title);
      },
   },
}
</script>

<style scoped>
.title-btn {
   width: 250px;
   line-height: 4em;
   vertical-align: middle;
   text-align: center;
   border-radius: 12px;
}
.title-btn:hover {
   box-shadow: 8px 8px #aaa;
   background-color: rgb(247, 125, 125) !important;
   color: #666;
}
.title-btn-lbl {
   color: white;
   font-size: 24px;
}

</style>